@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

/* custom variables go here */

// color theming
$primary: #6AD27D;
//$secondary: #8ECDDD;
$secondary: #B7FFB6;
$tertiary: #B7FFB6;
$light: #F2FFF2;
$dark: #2C302E;
$danger: #F55D3E;
$info: #6abad2;
$success: #0f631f;

// icons
i {
	color: $primary;
	font-size: 3rem;
}

// font theming
$font-family-sans-serif: "Quicksand";
$headings-font-family: "Quicksand";
$headings-font-weight: 700;
$headings-color: $primary;

// navbar 
$nav-pills-link-active-bg: $primary;

.nav-link{
  color: white !important;
}

.nav-pill-item {
	color: $primary !important;
}
.nav-pill-item.active {
	color: white !important;
}

// button theming
.btn-primary, .btn-danger {
	color: white !important;
}

.btn-outline-danger:hover, .btn-outline-danger:hover i {
	color: white !important;
}

.btn-outline-primary:hover, .btn-outline-primary:hover i {
	color: white !important;
	background-color: $primary !important;
}

input[type="radio"]:checked+label{
	color: white !important;
}

// .btn-outline-primary:hover, .btn-outline-primary:hover i {
// 	color: white !important;
// }

// dropdown theming
.dropdown-menu {
	max-height: 400px;
	overflow-y: auto;
}
// .dropdown-toggle {
// 	overflow: hidden;
// 	white-space: nowrap;
// 	max-width: 10ch;
//   text-overflow: ellipsis;
// }

// form theming
:not(.search-button) {
	$btn-border-radius: 4em;
	$btn-padding-x: 3em;
	$btn-padding-y: .6em;
}

// table theming
$table-cell-padding-y: .5em;
table thead tr {
    font-family: "Nunito";
}
table thead tr th {
    font-size: 0.9rem;
    font-weight: 400;
    color: $primary;
}
table tbody tr td {
    font-size: 0.9rem !important;
    font-weight: 500;
}
.btn-no-border {
    border: none !important;
}
td > .btn-no-border {
    font-size: 0.9rem !important;
}

// card theming
//.col > .row > .card > .card-body > .card-text
.card-text {
	font-size: 2.8rem !important;
    font-weight: 500 !important;
}

/*/ functions & variables for merging map variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "altprimary": #1a1169,
    "altsecondary": #9d6ff3
);*/

// import local compiled bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';